<!--&lt;!&ndash; Creates a layout with a left and right sidenav and implicit content. &ndash;&gt;-->
<!--<div class="wrapper container-fluid p-0 m-0 h-100">-->
<!--  <div class="row col p-0 m-0">-->
<!--    <mat-sidenav-container class="w-100">-->
<!--      <mat-sidenav mode="side" opened="true" class="col-2 col-lg-2 bg-primary">Start</mat-sidenav>-->
<!--      <mat-sidenav-content>-->
<!--        <section>Main</section>-->
<!--      </mat-sidenav-content>-->



<!--    </mat-sidenav-container>-->
<!--  </div>-->

<!--</div>-->
<p>home page</p>
